/*google fonts import*/

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@900&family=Roboto&display=swap');

/*general document styling*/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}

h1 {
    font-family: 'Archivo', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: rgba(255, 0, 0, 0.6);
}

h2, h3 {
    font-size: 1rem;
    color: rgba(255, 0, 0, 0.6);
    letter-spacing: 1px;
    font-family: 'Archivo', sans-serif;
}

/*nav bar*/

nav {
    width: 50vw;
}

#gym-name {
    text-transform: uppercase;
    border-right: 5px solid rgba(255, 0, 0, 0.6);
    padding-right: 35px;
}

.navigation, .navigation a {
    font-family: 'Archivo', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: rgba(255, 0, 0, 0.6);
    background-color: black;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.navigation {
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.navigation ul {
    width: 100%;
}

.navigation li{
    background-color: black;
    display: inline-block;
}

nav a:hover{
    border-bottom: 2px solid rgba(255, 0, 0, 0.6);
}

.active {
    border-bottom: 2px solid rgba(255, 0, 0, 0.6);
}

/*hero image*/

#hero-cover {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#hero-image {
    height: 100vh;
    width: 100%;
    background: #3a3a3a url(/assets/images/hero-image.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
}

#hero-image-cover-opacity {
    background-color: rgba(0, 0, 0, 0.65);
    height: inherit;
}

#ready-for-war {
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ready-for-war a {
    background: rgba(255, 0, 0, 0.6);
    border: none;
    height: auto;
    width: 300px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
}

#main-action {
    transition: box-shadow .5s;
}

#main-action h1 {
    color: black;
}

#main-action:hover {
    background: rgba(0, 0, 0, 0.5);
    color: red;
    box-shadow: 0 0 10px red;
}

#main-action:hover h1{
    color: red;
}

/*main content styling and positioning using display flex */

hr {
    border: none;
    background-color: rgba(255, 0, 0, 0.6);
    margin: 50px;
    margin-top: 100px;
    height: 5px;
}

.main-content-container {
    height: 100vh;
    box-sizing: border-box;
}

.main-content-container h1 {
    font-size: 1.75rem;
}

.main-content-container {
    display: flex;
}

.main-content h1 {
    font-size: 1.75rem;
}

#who-are-we, #what-do-we-do, #why-do-we-do-it {
    box-sizing: border-box;
    width: 100vw;
    border: 1px solid rgba(255, 0, 0, 0.6);
    margin: 50px;
    height: auto;
}

#who-are-we {
    align-self: flex-start;
    text-align: left;
    padding: 25px;
}

#who-are-we > h1, #what-do-we-do > h1, #why-do-we-do-it > h1 {
    text-align: center;
}

#what-do-we-do {
    margin: auto;
    text-align: center;
}

#why-do-we-do-it {
    float: right;
    align-self: flex-end;
}

.red-large-strong-text {
    text-transform: uppercase;
    font-size: 105%;
    letter-spacing: 2px;
    color: rgba(255, 0, 0, 0.6);
    font-weight: 900;
    font-style: normal;
}

/* idea - style main content class divs in a chevron, or at least more vertically with stylised backgrounds perhaps images fixed behind